body {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background:#233E8B;
}

#page {
    margin: auto;
	width: 984px;
}

#container{
    background:white;
    border-radius: 10px;
}

.h1{
    padding-top:10px;
    text-align:center;
    margin:auto;
    font-size:50px;
}

#image{
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
}

#text{
    width:850px;
    margin:auto;
    font-size:12px;
    padding-bottom:50px;
}